# Common ignore files
.DS_Store
.vscode
.vs
.idea
*.kdev4
/.kdev4
/[Bb]uild
/out/

# Ignore executables (Linux, macOS, Windows)
/Etternity
/Etternity-debug
/Etternity-MinSizeRelease
/Etternity-RelWithDebInfo
/*.app
/*.exe

# Etternity Related Ignore
/Cache/
/Compiled/
/Logs/
/Program/
/Save/
/Screenshots/
#/Songs/

# Misc Ignores
/CrashData
/Program/CrashData
/crashinfo.txt
/nowplaying.txt