# Common ignore files
.DS_Store
.vscode
.vs
.idea
*.kdev4
/.kdev4
/[Bb]uild
/out/

# Ignore executables (Linux, macOS, Windows)
/Etterna
/Etterna-debug
/Etterna-MinSizeRelease
/Etterna-RelWithDebInfo
/*.app
/*.exe

# Etterna Related Ignore
/Cache/
/Logs/
/Program/
/Save/
/Screenshots/
#/Songs/

# Misc Ignores
/CrashData
/Program/CrashData
/crashinfo.txt
/nowplaying.txt